<!DOCTYPE html>
<html lang="zh-CN">
<body style="max-width:768px;">
  <p>感谢您的订阅！</p>
  <p>本网站文章不定时更新，如有更新将会第一时间发送给各位订阅者，请注意查收您的邮件。</p>
  <p>如需退订，请点击<a href="#" style="color: #43c2bc;
      text-decoration: none;">此处。</a></p>
  <hr/>
  <div style="
    display: flex;
    flex-direction: column;
    font-size: .9em;
    line-height: 2;
    font-style: italic;">
    <span>网址：<a href="#" style="color: #43c2bc;
      text-decoration: none;">http://www.gmwenterprise.cn</a></span>
    <span>作者：MCag - gmw</span>
  </div>
</body>
</html>