html {
  font-size: 15px;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: inherit;
  font-family: inherit;
}