.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  margin-top: 20px;
  margin-bottom: 20px;
}
.introduction {
  font-size: 1rem;
  line-height: 1.4em;
  max-height: 5.6em;
}
.floor {
  margin-bottom: 10px;
}
.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.title > .word {
  font-weight: 600;
  font-size: 1.2em;
}
.metadata {
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-size: 0.9em;
  color: #909399;
}
.metadata > span {
  margin-top: 5px;
}