.block-title {
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  line-height: 2rem;
  font-size: 1rem;
}
mat-action-list {
  background-color: white;
  padding: 0;
}
.mat-list-item {
  font-size: .85rem;
}