header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 183, 255);
  color: #eee;
}
.h-left {
  display: flex;
  align-items: center;
}
.h-left > a {
  font-size: 1.3rem;
  font-family: fantasy;
  line-height: 2rem;
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;
}