<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gmwenterprise.website.dao.SysRoleDao">

    <resultMap id="BaseResultMap" type="sysRole">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime"/>
        <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime"/>
    </resultMap>

    <sql id="Base_Column_List">
        a.`id`,
        a.`role_name`,
        a.`create_datetime`,
        a.`update_datetime`
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role a
        where a.`id` = #{id}
    </select>

    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role a
        <where>
            <if test="roleName != null">
                and a.`role_name` like concat('%', #{roleName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="createDatetime != null">
                and a.`create_datetime` = #{createDatetime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateDatetime != null">
                and a.`update_datetime` = #{updateDatetime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <select id="selectRoleListByUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user b
        left join sys_user_role c on b.id = c.user_id
        left join sys_role a on c.role_id = a.id
        where b.id = #{userId}
    </select>

    <select id="selectRoleByName" resultType="cn.gmwenterprise.website.domain.SysRole">
        select
        <include refid="Base_Column_List"/>
        from sys_role a
        where a.role_name = #{roleName}
    </select>

    <delete id="deleteByPrimaryKey">
        delete
        from sys_role a
        where a.`id` = #{id}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null">
                `role_name`,
            </if>
            <if test="createDatetime != null">
                `create_datetime`,
            </if>
            <if test="updateDatetime != null">
                `update_datetime`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="createDatetime != null">
                #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDatetime != null">
                #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey">
        update sys_role
        <set>
            <if test="roleName != null">
                `role_name` = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="createDatetime != null">
                `create_datetime` = #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDatetime != null">
                `update_datetime` = #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>