h1 {
  text-align: center;
  font-size: 5em;
  font-family: fantasy;
  color: #444;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
.tag404 {
  display: inline-block;
  color: #111;
}
a[mat-button] {
  font-size: 1.5em;
  line-height: 2em;
}